{% extends '::admin.html.twig' %}

{% block body -%}
<a href="{{ path('admin_video') }}" class="pull-right">Powrót</a>
<h1>Nowy film</h1>

<div class="well">
    {{ form(form) }}
</div>
{% endblock %}
