#videosAdminList_filter,
#imagesAdminList_filter
{
    width: 400px;
    text-align: right;
    float: right;
}

select[name='videosAdminList_length'],
select[name='imagesAdminList_length']
{
    width: 80px;
}

textarea[id*='plot'] {
    width: 500px;
    height: 200px;
}

div.controls {
    img {
        display: block;
        width: 200px;
        max-height: 200px;
        margin: 10px;
    }
}

#imagesAdminList_paginate,
#videosAdminList_paginate
{
    display: block;
    height: 1em;
    width: 200px;
    float: right;   
    
    a {
        margin: 0 10px;
    }
}