#videosAdminList_filter {
    width: 400px;
    text-align: right;
    float: right;
}

select[name='videosAdminList_length'] {
    width: 80px;
}

textarea[id*='plot'] {
    width: 500px;
    height: 200px;
}