{% extends '::base.html.twig' %}

{% block title %}categories list{% endblock %}

{% block body %}
<div class="hr">
    <h1>Our Catalog</h1>
</div>

<ul>
{% for category in categories %}
    <li><a href="{{ path("category", {id: category.getId()}) }}">{{ category.getTitle() }}</a></li>
{% endfor %}
</ul>
{% endblock %}