{% extends '::base.html.twig' %}
{% import 'PolmediaBundle:Default:_video.html.twig' as macro %}

{% block body %}
<div id="mainVideos" class="container-fluid">
{% for video in mainVideos %}
    {% if video.getYoutube() is not null %}
        {{ macro.mainVideo(video) }}
    {% else %}
        {{ macro.shortVideo(video) }}
    {% endif %}
{% endfor %}
</div>

<div class="container-fluid">
{% for video in promotedVideos %}
    {% if loop.index0 == 0 or loop.index0 is even  %}<div class="row-fluid">{% endif %}
        {{ macro.shortVideo(video) }}
    {% if loop.index0 is odd or loop.revindex0 == 0 %}</div>{% endif %}
{% endfor %}
</div>

{% endblock %}