{% extends '::admin.html.twig' %}

{% block body -%}
<a href="{{ path('admin_image') }}" class="pull-right">Powrót</a>
<h1>Edycja zdjęcia</h1>

<div class="well">
    {{ form(edit_form) }}
</div>

<div class="pull-right">{{ form(delete_form) }}</div>
{% endblock %}
