{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>Image creation</h1>

    {{ form(form,{"attr":{"class" : "form form-horizontal"}}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_image') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
